[v-cloak] {
    display: none;
}
#app {
  font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
  /*background-color: #dbe8f5;  /* 背景色 */
  /*background-blend-mode: multiply;*/
  /*background: url('../images/backgroundImgT2.png') rgba(213, 113, 41, 0.1) no-repeat center center; */
  background: linear-gradient(to top, #c08d408e, #d19a248e, #c08d408e),linear-gradient(to top, #d7d7d7a0 , #d7d7d7a0 ),no-repeat center/80% url('../images/newLogo2_op90.png'),url('../images/wood-texture/Texture2.jpg');
}
#main-bar {
  position: fixed;
  z-index: 11;
}
#main-nav {
  width: 100vw;
  height: 100vh;
  /*background-color: white;*/
  background:linear-gradient(to top, #ffc7608c , #ffc7608c ), no-repeat center/35% url('../images/newLogo2_op90.png'), no-repeat url('../images/TestBg4.png');
  z-index: 10;
  position: fixed;
  top: 0;
  /* left: -100vw; */
  /* transition: left .4s; */
  overflow-y: auto;
}


/* 移除表格在手機版時的上方空白 */
@media only screen and (max-width: 600px) {
  table > thead {
    display: none;
  }
}