[v-cloak] {
    display: none;
}
#app {
  font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
  background-color: #dbe8f5;  /* 背景色 */
}
#main-bar {
  position: fixed;
  z-index: 11;
}
#main-nav {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  left: -100vw;
  transition: left .4s;
  overflow-y: scroll;
}
#main-nav.shownav {
  left: 0;
}
/* ------ scrollbar ------ */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #CFD8DC;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C6BC0;
  border-radius: 3px;
}
/* 移除表格在手機版時的上方空白 */
@media only screen and (max-width: 600px) {
  table > thead {
    display: none;
  }
}